body { 
	padding-top: 90px; 
}

.navbar-inverse {
	background-color: #52596B;
}

.header {
	color: #FFFFFF;
}
.user-actions  {

}

.group-actions {
	/*display: none;*/
}

.users-list {
	margin-top: 20px;
}


.search {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 180px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search:focus {
	width: 250px;
	background-color: #fff;
	border-color: #66CC75;

	outline: 0;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.group-alert {
	display: none;
}