<!DOCTYPE HTML>
<html>
<head>
  <title>User Management App</title>
  <!-- bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="js/index.css" media="all" rel="stylesheet" type="text/css" />

  <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <h1 class="header text-center">User Management System</h1>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 right">
        <div class="list-group">
          <a class="list-group-item user-nav active" href="#users/index">Users</a>
          <a class="list-group-item group-nav" href="#groups/index">Groups</a>
        </div>
      </div>

      <div class="col-md-9 left">
        <div class="search-box"></div>
        <div class="" id="primary-content">

        </div>  
      </div>
    </div>
  </div>

  <!-- User form -->
  <script type="text/template" id="userFormTemplate">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User Panel</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger fade in" style="display:none;"></div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" id="username" class="form-control" name="name" value="<%= name %>" autofocus placeholder="Enter name...">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Group</label>
            <div class="col-sm-10">
              <select class="form-control" id="groupList"></select>
            </div>
          </div>
          
          <div class="form-group">
            <div class="text-center col-sm-12">
              <button class="save btn btn-large btn-primary" type="submit">Save</button>
              <a href="#users/index" class="btn btn-large btn-danger">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <!-- user index template -->
  <script type="text/template" id="userIndexTemplate">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="40%">User</th>
          <th width="40%">Group</th>
          <th width="40%"></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- user row template -->
  <script type="text/template" id="userRowTemplate">
    <td>
      <a href="#user/<%= id %>/view"><%= name %></a>
    </td>
    <td><%= group %></td>
    <td>
      <a href="#" class="delete btn btn-danger btn-small pull-right">delete</a>
    </td>
  </script>

  <!-- user show template -->
  <script type="text/template" id="showTemplate">
    <ol class="breadcrumb">
      <li>
        <a href="#users/index">All users</a>
      </li>
      <li class="active">View user</li>
    </ol>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
      </div>
      <div class="panel-body">
        <h3>
          User Name: <%= name %>
        </h3>

        <h3>
          Group: <%= group %>
        </h3>

        <div class="text-center">
          <a class="btn btn-primary" href="#user/<%= id %>/edit">Edit user</a>
          <a class="btn btn-default" href="#users/index">Back</a>
        </div>
      </div>
    </div>
  </script>

  <!-- The search template -->
  <script type="text/template" id="searchTemplate">
    <div class="well row user-actions">
      <input id="searchUser" class="search pull-left" type="search" placeholder="Search User ... "/>
      <a class="btn btn-large btn-info pull-right col-md-3" href="#user/new">Create User</a>
    </div>

    <div class="well row group-actions">
      <input id="searchGroup" class="search pull-left" type="search" placeholder="Search Group ... "/>
      <a class="btn btn-large btn-info pull-right col-md-3" href="#group/new">Create Group</a>
    </div>
  </script>


  <!-- group index container -->
  <script type="text/template" id="groupIndexTemplate">
    <div id="group-alert" class="group-alert alert alert-danger">Cannot delete this group as it contains users. Please delete users first</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="70%">Group Name</th>
          <th width="30%"></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <!-- group row template -->
  <script type="text/template" id="groupRowTemplate">
    <td>
      <a href="#group/<%= id %>/view"><%= name %></a>
    </td>

    <td>
      <a href="#" class="delete btn btn-danger btn-small pull-right">delete</a>
    </td>
  </script>

  <!-- group show template -->
  <script type="text/template" id="groupShowTemplate">
    <ol class="breadcrumb">
      <li>
        <a href="#groups/index">All groups</a>
      </li>
      <li class="active">View group</li>
    </ol>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
      </div>
      <div class="panel-body">
        <div class="group-details">
          <h3>Group Name : <%= name %></h3>
        </div>

        <div class="users-list">
          <% if(users.length === 0) { %>
              <h3>Oops no user belongs to this group!</h3>
          <% } else { %>
              <h4>Users in this group</h4>

              <ul class="list-group">
              <% _.each(users, function(user){ %>
                <li class="list-group-item clearfix">
                  <%= user.name %>
                  <button data-userId="<%= user.id %>" class="btn btn-small btn-danger pull-right delete-user">Delete</button>
                </li>
              <% }); %>
            </ul>
          <% } %>
        </div>

        <div class="user-actions text-center">
          <a class="btn btn-info" href="#group/<%= id %>/edit">Edit group</a>
          <a class="btn btn-default" href="#groups/index">Back</a>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </script>

  <!-- group form tempate-->
  <script type="text/template" id="groupFormTemplate">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Group Panel</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger fade in" style="display:none;"></div>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="groupname" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" id="groupname" class="form-control" name="name" value="<%= name %>" autofocus placeholder="Enter group name...">
              </div>
            </div>

            <div class="form-group">
              <div class="text-center col-sm-12">
                <button class="save btn btn-large btn-primary" type="submit">Save</button>
                <a href="#groups/index" class="btn btn-large btn-danger">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
  </script>


  <!-- load the libraries we need -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

  <script type="text/javascript" src="js/libs/pubsub.js"></script>

  <!-- my scripts -->
  <script type="text/javascript" src="js/router.js"></script>

  <!-- Models -->
  <script type="text/javascript" src="js/models/user_model.js"></script>
  <script type="text/javascript" src="js/models/group_model.js"></script>

  <!-- user views -->
  <script type="text/javascript" src="js/views/user/user_index.js"></script>
  <script type="text/javascript" src="js/views/user/user_row.js"></script>
  <script type="text/javascript" src="js/views/user/user_new.js"></script>
  <script type="text/javascript" src="js/views/user/user_edit.js"></script>
  <script type="text/javascript" src="js/views/user/user_show.js"></script>
  <script type="text/javascript" src="js/views/user/user_search.js"></script>

  <!-- group views -->
  <script type="text/javascript" src="js/views/group/group_index.js"></script>
  <script type="text/javascript" src="js/views/group/group_row.js"></script>
  <script type="text/javascript" src="js/views/group/group_new.js"></script>
  <script type="text/javascript" src="js/views/group/group_edit.js"></script>
  <script type="text/javascript" src="js/views/group/group_show.js"></script>
  <script type="text/javascript" src="js/views/group/group_search.js"></script>

  <!-- Main app.js -->
  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
